html,
body {
  height: 100%;
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    html,
    body {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html,
    body {
      font-size: 14px; } }

body {
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: black; }

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  margin: 0 auto;
  max-width: 60rem;
  width: 100%;
  padding: 0 0.625rem; }

.section {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.title {
  color: #f9b43b;
  font-family: Gagalin;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 63.93px; }
  @media screen and (max-width: 480px) {
    .title {
      font-size: 50px; } }
  .title--team {
    margin-bottom: 2.5rem; }
  .title--white {
    color: #ffffff; }
  .title--black {
    color: #2f3234; }
  .title--slider {
    margin-bottom: 2.1875rem;
    color: #ffffff; }
    @media screen and (max-width: 768px) {
      .title--slider {
        text-align: center; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal; }

a {
  text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul > li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

footer {
  position: relative;
  width: 100%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: inherit; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

@font-face {
  font-family: 'gagalin';
  src: url("../../fonts/Gagalin/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/Gagalin/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehack';
  src: url("../../fonts/Lifehack/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/Lifehack/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../../fonts/Ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../../fonts/Ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../../fonts/Ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: medium;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu';
  src: url("../../fonts/Ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.promo {
  background-image: url(../../pic/content/bg-promo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative; }

.promo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .promo__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0 6%; } }

.promo__burger {
  width: 100%; }

.promo__content {
  margin-top: 5.625rem;
  margin-left: 0.4375rem; }
  @media screen and (max-width: 768px) {
    .promo__content {
      margin-top: 0; } }

.promo__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (max-width: 768px) {
    .promo__title {
      text-align: center; } }

.promo__second-title {
  font-family: Lifehack;
  font-size: 4.0625rem;
  font-weight: 500;
  line-height: 4.0625rem;
  color: #ffffff;
  margin-top: 1.25rem; }

.promo-scroll__arrow-scroll {
  position: absolute;
  left: 50%;
  bottom: 0; }

.header {
  position: absolute;
  width: 100%;
  padding: 0.75rem;
  z-index: 10; }

.container_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .container_header {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; } }

@media screen and (max-width: 768px) {
  .header_logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 0.9375rem; }
  @media screen and (max-width: 768px) {
    .nav__item {
      display: none; } }
  .nav__item:after {
    content: '';
    width: 0.25rem;
    height: 0.25rem;
    background: #ffffff;
    border-radius: 50%;
    display: block;
    margin-left: 1.125rem; }
  .nav__item:nth-last-child(2):after {
    display: none; }

.nav__link {
  font-size: 0.8125rem;
  font-weight: 500;
  color: #ffffff; }

.nav__link {
  font-family: Ubuntu;
  font-size: 0.8125rem;
  font-weight: 500; }

.btn {
  color: #ffffff;
  background: #e45028;
  padding: 0.625rem 1.1875rem;
  border-radius: 0.3125rem;
  font-family: Ubuntu;
  font-size: 0.8125rem;
  font-weight: 500; }

.features {
  background-image: url(../../pic/content/bg-features.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  @media screen and (max-width: 480px) {
    .features__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: left; } }

.features__name {
  text-align: center;
  margin-bottom: 1.875rem; }

.features__item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 2%; }
  @media screen and (max-width: 480px) {
    .features__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: normal;
      -ms-flex-align: normal;
      align-items: normal; } }

.features__pic {
  margin-bottom: 1.25rem; }

@media screen and (max-width: 480px) {
  .features__content {
    margin-left: 3%; } }

.features__title {
  color: #2f3234;
  font-family: Lifehack;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.75875rem;
  margin-bottom: 0.75rem; }

.features__text {
  opacity: 0.8;
  color: #2f3234;
  font-family: Ubuntu;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem; }

.features__svg {
  max-width: 100%; }

.reviews__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap; }

.reviews__item {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  height: 50%;
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  @media screen and (max-width: 768px) {
    .reviews__item {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      height: 25%; } }
  .reviews__item:hover .reviews__hover {
    opacity: 1; }

.reviews__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  display: block; }

.reviews__hover {
  opacity: 0;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: opacity .4s;
  -o-transition: opacity .4s;
  transition: opacity .4s;
  padding: 20% 9%; }
  @media screen and (max-width: 768px) {
    .reviews__hover {
      text-align: center;
      padding: 4% 18%; } }
  .reviews__hover:hover {
    opacity: 1; }
  @media screen and (max-width: 480px) {
    .reviews__hover {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.reviews__name {
  font-family: Gagalin;
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 8%; }
  @media screen and (max-width: 480px) {
    .reviews__name {
      font-size: 1.5rem;
      text-align: center; } }

.reviews__text {
  font-family: Ubuntu;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  margin-bottom: 8%; }
  @media screen and (max-width: 480px) {
    .reviews__text {
      display: none; } }

.reviews__btn:hover {
  background: black; }

.menu {
  background-image: url(../../pic/content/bg-menu.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: block;
  position: relative;
  padding: 14% 3%; }

.accordeon-menu__btn {
  width: 5rem;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.accordeon-menu__btn-text {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: rotate(-90deg) translateY(-50%);
  -ms-transform: rotate(-90deg) translateY(-50%);
  transform: rotate(-90deg) translateY(-50%);
  z-index: 20;
  color: #ffffff;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  white-space: nowrap;
  margin-top: -1.875rem;
  font-family: Gagalin;
  font-size: 2.5rem;
  font-weight: 400; }

.accordeon-menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.accordeon-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.accordeon-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .accordeon-menu__item:hover .accordeon-menu__content {
    max-width: 33.75rem;
    padding: 3.75rem 1.875rem;
    background-color: rgba(47, 50, 52, 0.9); }

.accordeon-menu__content {
  overflow: hidden;
  max-width: 0;
  -webkit-transition: max-width .3s;
  -o-transition: max-width .3s;
  transition: max-width .3s; }

.accordeon-menu__text {
  max-width: 33.75rem;
  color: #ffffff;
  font-family: Ubuntu; }

.mape {
  background-image: url(../../pic/content/bg-mape.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative; }

.team {
  background-image: url(../../pic/content/bg-team.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: block; }

.team__content {
  background-color: rgba(47, 50, 52, 0.9);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  padding: 7%; }
  @media screen and (max-width: 768px) {
    .team__content {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.team__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0.625rem;
  font-family: Gagalin;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.75rem; }
  @media screen and (max-width: 768px) {
    .team__name {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .team__name::before {
    content: '';
    display: block;
    border: 0.5rem solid transparent;
    border-top-color: #f9b43b;
    border-bottom-width: 0rem;
    border-right-width: 0.4375rem;
    border-left-width: 0.4375rem;
    margin-right: 0.3125rem; }

.team__list {
  color: #ffffff; }

.team__item {
  margin-bottom: 0.625rem; }
  .team__item--active .team__name .team__link {
    color: #f9b43b; }
  .team__item--active .team__name::before {
    display: block;
    border: 0.5rem solid transparent;
    border-bottom-color: #f9b43b;
    border-top-width: 0rem;
    border-right-width: 0.4375rem;
    border-left-width: 0.4375rem;
    margin-right: 0.3125rem; }
  .team__item:last-child {
    margin-bottom: 1.875rem; }

.team__item--active .team__hover {
  max-height: 12.5rem; }

.team__name-desc {
  margin-left: 0.625rem;
  width: 56%; }

.team__hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Ubuntu;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  overflow: hidden;
  max-height: 0; }
  @media screen and (max-width: 768px) {
    .team__hover {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center; } }

.team__position {
  font-weight: bold;
  margin-bottom: 0.8125rem; }

.team__img {
  border-radius: 50%; }

.team__link {
  color: #ffffff; }

.form {
  background-image: url(../../pic/content/bg-form@3x.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 0.875rem;
  font-weight: 300; }

.title_form {
  margin-bottom: 30px; }
  @media screen and (max-width: 480px) {
    .title_form {
      text-align: center;
      line-height: 5rem;
      margin-bottom: 1.875rem; } }

.order-form__title {
  margin-bottom: 0.3125rem; }

.order-form__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -0.625rem; }
  @media screen and (max-width: 768px) {
    .order-form__elem {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin: 0 4.375rem; } }

.order-form__col {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 0.625rem; }

@media screen and (max-width: 480px) {
  .order-form__row--center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.order-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.9375rem; }

.order-form__block {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 1.25rem;
  position: relative; }
  .order-form__block:first-child {
    margin-left: 0; }
  .order-form__block .order-form__unput {
    width: 100%; }

.order-form__block-radio {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

.order-form__block-radio, .order-form__block-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .order-form__block-radio, .order-form__block-check {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.order-form__radio-text,
.order-form__block-check {
  margin-left: 10px; }

.order-form__surrender, .order-form__call {
  position: absolute;
  visibility: hidden; }

.order-form__surrender:checked + .order-form__circle:after,
.order-form__call:checked + .order-form__square .order-form__check-img {
  opacity: 1;
  display: block; }

.order-form__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%; }

.order-form__circle::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #e35028;
  opacity: 0; }

.order-form__square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 15px;
  height: 15px;
  background: #ffffff;
  padding: 7px; }

.order-form__check-img {
  opacity: 0; }

input, textarea {
  border: none;
  border-radius: 0.25rem;
  padding: 0.75rem 1.25rem;
  outline: none;
  border: 0.0625rem solid transparent; }
  input:focus, textarea:focus {
    border-color: #f9b43b; }

input::-webkit-input-placeholder {
  color: #2f3234;
  font-family: Ubuntu;
  font-size: 0.875rem;
  font-weight: 300; }

input:-ms-input-placeholder {
  color: #2f3234;
  font-family: Ubuntu;
  font-size: 0.875rem;
  font-weight: 300; }

input::-ms-input-placeholder {
  color: #2f3234;
  font-family: Ubuntu;
  font-size: 0.875rem;
  font-weight: 300; }

input::placeholder {
  color: #2f3234;
  font-family: Ubuntu;
  font-size: 0.875rem;
  font-weight: 300; }

textarea {
  width: 100%;
  height: 6.875rem;
  resize: vertical; }

.order-form__reset {
  margin-left: 0.625rem; }

.fixed-menu {
  position: fixed;
  top: 14%;
  right: 4%;
  z-index: 2; }
  @media screen and (max-width: 768px) {
    .fixed-menu {
      display: none; } }

.fixed-menu__item {
  display: block;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 4px;
  position: relative; }
  .fixed-menu__item--active {
    border-color: #ffffff; }

.fixed-menu__dot:before {
  content: '';
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.hamburger__menu {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(47, 50, 52, 0.99);
  height: 100vh;
  width: 100vw;
  padding: 0.75rem 1.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: none; }
  @media screen and (max-width: 768px) {
    .hamburger__menu {
      display: none; } }

.hamburger__nav {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.hamburger__menu-close {
  position: absolute;
  top: 3%;
  right: 3%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 25px;
  height: 25px;
  margin-top: 1.875rem;
  margin-right: 1.5625rem; }

.hamburger__cross {
  width: 1.5625rem;
  height: 0.25rem;
  background: #ffffff;
  border-radius: 0.3125rem;
  position: relative; }
  .hamburger__cross::after {
    content: '';
    display: block;
    position: absolute;
    width: 0.25rem;
    height: 1.5625rem;
    background: #ffffff;
    border-radius: 0.3125rem;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.hamburger__list {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.hamburger__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px; }
  .hamburger__item:hover {
    text-decoration: underline; }
  .hamburger__item::after {
    content: '';
    display: block;
    width: 0.3125rem;
    height: 0.3125rem;
    border-radius: 50%;
    background-color: #ffffff;
    margin-top: 0.9375rem; }
  .hamburger__item:last-child:after {
    display: none; }

.hamburger__link {
  color: #ffffff;
  font-family: Ubuntu;
  font-size: 1.5rem;
  font-weight: 400; }

.slider {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9b43b), color-stop(#eb8e38), to(#f9b43b));
  background-image: -webkit-linear-gradient(#f9b43b, #eb8e38, #f9b43b);
  background-image: -o-linear-gradient(#f9b43b, #eb8e38, #f9b43b);
  background-image: linear-gradient(#f9b43b, #eb8e38, #f9b43b); }

.slider__pic {
  width: 100%;
  max-width: 500px; }

.slider_container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 29.6875rem;
  width: 58.75rem;
  width: 100%; }

.slider__arrow-left,
.slider__arrow-right {
  position: absolute;
  top: 50%; }

.slider__arrow-left {
  left: -1.875rem; }
  @media screen and (max-width: 768px) {
    .slider__arrow-left {
      left: 1.875rem; } }
  @media screen and (max-width: 480px) {
    .slider__arrow-left {
      left: 3px; } }

.slider__arrow-right {
  right: -1.875rem; }
  @media screen and (max-width: 768px) {
    .slider__arrow-right {
      right: 1.875rem; } }
  @media screen and (max-width: 480px) {
    .slider__arrow-right {
      right: 3px; } }

.slider__svg--left {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.slider__svg--right {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.slider__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.slider__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  @media screen and (max-width: 768px) {
    .slider__elem {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 0 12%;
      text-align: center; } }

.slider__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .slider__col--margin {
    margin-left: 30px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    @media screen and (max-width: 768px) {
      .slider__col--margin {
        margin-top: 5%;
        margin-left: 0; } }
  @media screen and (max-width: 768px) {
    .slider__col {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.slider__text {
  font-family: Ubuntu;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-bottom: 1.875rem; }

.slider__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.slider__cost {
  color: #e45028;
  font-family: Gagalin;
  font-size: 1.875rem;
  font-weight: 400;
  margin-right: 1.8125rem; }

.slider__cost-digit {
  font-size: 4.5rem; }

.slider__cal {
  font-family: Gagalin;
  color: #ffffff;
  height: 5rem;
  width: 3.125rem;
  position: absolute;
  bottom: -11%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .slider__cal {
      top: -11%;
      left: 73%; } }
  @media screen and (max-width: 480px) {
    .slider__cal {
      top: -16%;
      left: 86%; } }

.slider__cal-digit {
  position: absolute;
  top: 28%;
  left: 23%; }

.lider__cal-text {
  font-size: 0.875rem; }

.composition {
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 0.3125rem;
  background: #e45028;
  color: #2f3234;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: -11%;
  left: 0; }
  .composition:hover .composition__drop-table {
    left: 5.625rem;
    opacity: 1; }
  @media screen and (max-width: 768px) {
    .composition {
      top: -10%;
      left: 18%; } }
  @media screen and (max-width: 480px) {
    .composition {
      top: -16%;
      left: 0; } }

.composition__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.composition__title {
  color: #ffffff;
  font-family: Gagalin;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
  margin-top: 0.5rem; }

.composition__drop-table {
  font-family: Ubuntu;
  font-size: 0.875rem;
  position: absolute;
  top: 0;
  left: -1000px;
  background: rgba(255, 255, 255, 0.9);
  padding: 0.625rem;
  border-radius: 0.3125rem;
  opacity: 0;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s; }

.composition__list {
  display: table;
  padding: 10px; }

.composition__elem {
  display: table-row; }

.composition__icon,
.composition__text,
.composition__weght {
  display: table-cell;
  vertical-align: middle;
  height: 3.125rem;
  padding: 0.625rem; }

.composition__text {
  font-weight: bold;
  padding: 0.625rem 4.375rem 0.625rem 0.625rem;
  text-align: left; }

.composition__weght {
  text-align: right; }

.screen-menu {
  position: relative;
  width: 1.5625rem;
  height: 0.25rem;
  border-radius: 0.3125rem;
  background: #ffffff;
  display: none;
  margin-left: 1.875rem; }
  @media screen and (max-width: 768px) {
    .screen-menu {
      display: block; } }
  .screen-menu::after, .screen-menu::before {
    position: absolute;
    content: "";
    display: block;
    width: 1.5625rem;
    height: 0.25rem;
    border-radius: 0.3125rem;
    background: #ffffff; }
  .screen-menu::after {
    top: 100%;
    margin-top: 0.3125rem; }
  .screen-menu::before {
    bottom: 100%;
    margin-bottom: 0.3125rem; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background: black;
  color: #ffffff; }

.footer_container {
  padding: 0.9375rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Ubuntu;
  font-size: 0.875rem;
  font-weight: 300; }
  @media screen and (max-width: 480px) {
    .footer_container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center; } }

@media screen and (max-width: 480px) {
  .contacts {
    margin-bottom: 0.625rem; } }

.contacts__adress {
  margin-bottom: 0.625rem; }
  @media screen and (max-width: 480px) {
    .contacts__adress {
      margin-bottom: 0.625rem; } }

.contacts__number {
  font-weight: bold;
  color: #e35028; }
  @media screen and (max-width: 480px) {
    .contacts__number {
      margin-bottom: 0.625rem; } }

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.social__elem {
  width: 0.3125rem;
  height: 0.3125rem; }

.social__link {
  margin-right: 0.625rem; }

.social__svg {
  fill: #585858; }
  .social__svg:hover {
    fill: #ffffff; }
