html,
body {
  height: 100%;
  font-size: 16px; }

body {
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: black; }

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  width: rem(940px);
  margin: 0 auto; }

.section {
  height: 100vh;
  min-height: rem(650px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.title {
  color: #f9b43b;
  font-family: Gagalin;
  font-size: rem(72px);
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal; }

a {
  text-decoration: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul > li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

footer {
  position: relative;
  width: 100%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: inherit; }
