.contact {
  font-size: 22px;
  text-align: end;
}
.contact_title {
  font-weight: bold;
}

@media (max-width: 992px) {
  .contact {
    font-size: 22px;
  }
}

@media (max-width: 992px) {
  .contact {
    text-align: end;

  }
}
@media (max-width: 768px) {
  .contact {
    text-align: start;
  }
}