.contacts {
  flex: 1 1 auto;

}

.contacts_list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5%;
}

.contacts_item {
  display: flex;
  align-items: center;
  justify-content: end;
}

@media (max-width: 992px) {
  .contacts_list {
    flex-direction: column;
    align-items: flex-end;
  }
}
@media (max-width: 768px) {
  .contacts_list {
    flex-direction: column;
    align-items: flex-start
    ;
  }
}