.features__section {
  background-image: url(../../pic/content/bg-features.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.features__list {
  display: flex;
  text-align: center;
  align-items: flex-start;
}

.features__name {
  text-align: center;
  margin-bottom: 30px;
}

.features__item {
  flex: 1;
}

.features__pic {
  margin-bottom: 20px;
}

.features__title {
  color: #2f3234;
  font-family: Lifehack;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.14px;
  margin-bottom: 12px;
}