.features__section {
  background-image: url(../../pic/content/bg-features.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.features__list {
  display: flex;
  text-align: center;
  align-items: flex-start;

  @include phones {
    flex-direction: column;
    text-align: left;
  }
}

.features__name {
  text-align: center;
  margin-bottom: rem(30px);
}

.features__item {
  flex: 1;
  @include phones {
    display: flex;
  }
}

.features__pic {
  margin-bottom: rem(20px);
}


.features__title {
  color: #2f3234;
  font-family: Lifehack;
  font-size: rem(24px);
  font-weight: 500;
  line-height: rem(28.14px);
  margin-bottom: rem(12px);
}