.fixed-menu {
  position: fixed;
  top: 14%;
  right: 4%;
  z-index: 2;

  @include tablets {
    display: none;
  }
}

.fixed-menu__item {
  display: block;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-bottom: 4px;
  position: relative;

  &--active {
    border-color: $white;
  }
}

.fixed-menu__dot {
  &:before {
    content: '';
    width: 6px;
    height: 6px;
    background-color: $white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
}