.footer {
  position: absolute;
  bottom: 90px;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--background-color);
  color: var(--inversion-color)
}

.footer_container {
  padding: 2%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
