.form {
  background-image: url(../../pic/content/bg-form@3x.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  color: $white;
  font-family: Ubuntu;
  font-size: rem(14px);
  font-weight: 300;

}

.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title_form {
  margin-bottom: 30px;

  @include phones {
    text-align: center;
    line-height: rem(80px);
    margin-bottom: rem(30px);
  }
}

.order-form__title {
  margin-bottom: rem(5px);
}

.order-form__elem {
  display: flex;
  margin: 0 rem(-10px);

  @include tablets {
    display: flex;
    flex-direction: column;
    margin: 0 rem(70px);
  }
}

.order-form__col {
  flex: 1;
  margin: 0 rem(10px);
}

.order-form__row--center {

  @include phones {
    justify-content: center;
  }

}






.order-form__row {
  display: flex;
  margin-bottom: rem(15px);
}



.order-form__block {
  flex: 1;
  margin-left: rem(20px);
  position: relative;

  &:first-child {
    margin-left: 0;
  }

  .order-form__unput {
    width: 100%;
  }
}

.order-form__block-radio {
  flex: 0 0 auto;
}

.order-form__block-radio,
.order-form__block-check {
  display: flex;
  align-items: center;

  @include phones {
    justify-content: center;
  }
}

.order-form__radio-text,
.order-form__block-check {
  margin-left: 10px;
}

.order-form__surrender,
.order-form__call {
  position: absolute;
  visibility: hidden;
}

.order-form__surrender:checked+.order-form__circle:after,
.order-form__call:checked+.order-form__square .order-form__check-img {
  opacity: 1;
  display: block;
}

.order-form__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
}

.order-form__circle::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #e35028;
  opacity: 0;
}

.order-form__square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  background: $white;
  padding: 7px; //Отступ для галочки
}

.order-form__check-img {
  opacity: 0;
}



input,
textarea {
  border: none;
  border-radius: rem(4px);
  padding: rem(12px) rem(20px);
  outline: none;
  border: rem(1px) solid transparent;

  &:focus {
    border-color: $yellow;
  }
}

input::placeholder {
  color: #2f3234;
  font-family: Ubuntu;
  font-size: rem(14px);
  font-weight: 300;
}

textarea {
  width: 100%;
  height: rem(110px);
  resize: vertical;
}


.order-form__reset {
  margin-left: rem(10px);
}





























// .order-form__surrender {
//   position: absolute;
//   display: none;
// }

// .order-form__circle {
//   width: 7px;
//   height: 7px;
//   border-radius: 50%;
//   background: $orange;
//   margin-right: 5px;
//   position: absolute;
//   top: 6px;
//   left: 3px;
//   opacity: 0;

// &::before {
//   content: '';
//   display: block;
//   position: absolute;
//   top: 3px;
//   left: 3px;
//   width: 6px;
//   height: 6px;
//   border-radius: 50%;
//   background: $$$$$orange;
//   opacity: 0;
// }


// input:checked~.order-form__circle {
//   background: $orange;
// }