.form_section {
  background-image: url(../../pic/content/bg-form@3x.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  color: white;
  font-family: Ubuntu;
  font-size: rem(14px);
  font-weight: 300;

}

.order-form__title {
  margin-bottom: rem(5px);
}

.order-form__elem {
  display: flex;
  margin: 0 rem(-10px);

  @include tablets {
    display: flex;
    flex-direction: column;
  }
}

.order-form__col {
  flex: 1;
  margin: 0 rem(10px);
}


.order-form__row {
  display: flex;
  margin-bottom: rem(15px);
}

.order-form__block {
  flex: 1;
  margin-left: rem(20px);
  position: relative;

  &:first-child {
    margin-left: 0;
  }

  .order-form__unput {
   width: 100%;
  }
}

.order-form__block--circle {
  display: flex;
  align-items: center;
}

input, textarea {
  border: none;
  border-radius: rem(4px);
  padding: rem(12px) rem(20px);
  outline: none;
  border: rem(1px) solid transparent;

  &:focus {
    border-color: orange;
  }
}

input::placeholder {
  color: #2f3234;
  font-family: Ubuntu;
  font-size: rem(14px);
  font-weight: 300;
}

textarea {
  width: 100%;
  height: rem(110px);
  resize: vertical;
}

.order-form__circle {
  width: rem(7px);
  height: rem(7px);
  border-radius: 50%;
  background: transparent;
  margin-right: rem(5px);
  position: absolute;
  top: rem(5px);
  left: rem(3px);
}
.order-form__circle--right {
  top: rem(6px);
}

input:checked ~ .order-form__circle {
  background: orange;
}


.order-form__reset {
  margin-left: rem(10px);
}





























// .order-form__surrender {
//   position: absolute;
//   display: none;
// }

// .order-form__circle {
//   width: 7px;
//   height: 7px;
//   border-radius: 50%;
//   background: orange;
//   margin-right: 5px;
//   position: absolute;
//   top: 6px;
//   left: 3px;
//   opacity: 0;

  // &::before {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   top: 3px;
  //   left: 3px;
  //   width: 6px;
  //   height: 6px;
  //   border-radius: 50%;
  //   background: orange;
  //   opacity: 0;
  // }


// input:checked~.order-form__circle {
//   background: orange;
// }