.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  padding: 10px 0;
  background-color: var(--background-color);
  flex: 0 0 auto;
}

.header_avatar {
  z-index: 5;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}




