.mape__section {
  background-image: url(../../pic/content/bg-mape.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  position: relative;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background: black;
  color: white;
}

.header_container {
  padding: 15px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
}


.contacts__adress {
  margin-bottom: 10px;
}


.contacts__number {
  color: orange;
}


.social__list {
  display: flex;
}

.social__elem {
  width: 5px;
  height: 5px;
}

.social__link {
  margin-right: 30px;
}

