.nav__list {
  display: flex;
}

.nav__item {
display: flex;
align-items: center;
margin-right: rem(15px);
@include tablets {
  display: none;
}
  &:after {
    content: '';
    width: rem(4px);
    height: rem(4px);
    background: $white;
    border-radius: 50%;
    display: block;
    margin-left: rem(18px);
  } 
  &:nth-last-child(2) {
    &:after {
      display: none;
    }
  }
}

.nav__link {
  font-size: rem(13px);
  font-weight: 500;
  color: $white;
}

.nav__link  {
  font-family: Ubuntu;
  font-size: rem(13px);
  font-weight: 500;
}