.page {
  flex: 1 0 auto;
}

.page_section {
  padding: 5%; 
  margin: 0 auto;
  color: var(--inversion-color);
}

.page_section__1 {
  padding: 10% 5% 10% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-image: 
  linear-gradient(to top, rgb(0 0 0 / 70%), 
  rgb(18 10 1 / 30%)), url(/images/background-1.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}



.page_section__2 {
  display: flex;
  flex-direction: column;
  background-image: 
  linear-gradient(to top, rgb(0 0 0 / 70%), 
  rgb(18 10 1 / 30%)), url(/images/background-2.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.page_section__3 {
  background-color: var(--alternative-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.page_section__4 {
  background-image: linear-gradient(to top, rgb(0 0 0), rgb(0 0 0 / 80%)), url(/images/background-3.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.page_section__5 {
  display: flex;
  flex-direction: column;
  background-image: 
  linear-gradient(to top, rgb(0 0 0 / 70%), 
  rgb(18 10 1 / 30%)), url(/images/background-2.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}


.page_info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page_profession {
  font-size: 12px;
  text-align: right;
  padding: 0 20px 0 0;
}

.page_main-title {
  border-left: 5px solid var(--inversion-color);
  font-size: 64px;
  font-weight: bold;
  line-height: .8;
  padding: 0 0 0 20px;
}

.page_title {
  font-size: 64px;
  margin-bottom: 40px;
}

.page_avatar {
  width: 30%;
  border-radius: 50%;
  overflow: hidden;
}

.page_photo {
  width: 100%;
}

.skills_title {
  font-size: 64px;
  margin-bottom: 40px;
}

@media (max-width: 320px) {
  .skills_title {
    font-size: 48px;
    margin-bottom: 24px;
  }
}

.page_skills-list {
  display: flex;
  flex-direction: column;
}

.page_skills_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

.page_skill {
  width: 11vw;
  height: 11vw;
  background-color: var(--section-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page_skill__react {
  width: 18vw;
  height: 18vw;
}

.page_skill__redux {
  width: 16vw;
  height: 16vw;
}

.page_skill__javascript {
  width: 21vw;
  height: 21vw;
}
.page_skill__typescript {
  width: 14vw;
  height: 14vw;
}
.page_skill__html {
  width: 16vw;
  height: 16vw;
}
.page_skill__git {
  width: 14vw;
  height: 14vw;
}
.page_skill__sass {
  width: 14vw;
  height: 14vw;
}

.page_skill__webpack {
  width: 18vw;
  height: 18vw;
}


@media (max-width: 1200px) {
  .page_section__1 {
    gap: 25px;
    padding: 25% 5% 10% 5%;
  }
  .page_skills-list {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .page_info {
    flex-direction: column;
  }
  .page_profession {
    text-align: start;
  }
  .page_main-title {
    font-size: 48px;
    border-left: none;
  }

  .page_title {
    font-size: 48px;
    margin-bottom: 24px;
  }
  
}
@media (max-width: 480px) {
  .page_section__1 {
    padding: 30% 5% 10% 5%;
  }
  .page_main-title {
    font-size: 36px;
    border-left: none;
  }
  .page_skills-list {
    font-size: 8px;
  }
}
@media (max-width: 320px) {
  .page_title {
    font-size: 32px;
    margin-bottom: 24px;
  }
  .page_section__1 {
    padding: 35% 5% 10% 5%;
  }
  .page_main-title {
    font-size: 24px;
    border-left: none;
  }
  
}