.promo {
  background-image: url(../../pic/content/bg-promo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.promo__container {
  display: flex;
  align-items: center;
  @include tablets {
    flex-direction: column;
    padding: 0 6%;
  }
}

.promo__content {
  margin-top: rem(90px);
  @include tablets {
    margin-top: 0;
  }
}

.promo__img {
  margin-top: 100px;
}

.promo__title {
  display: flex;
  flex-direction: column;
  @include tablets {
    text-align: center;
  }
}

.promo__second-title {
  font-family: Lifehack;
  font-size: rem(65px);
  font-weight: 500;
  line-height: rem(65px);
  color: $white;
  margin-top: rem(20px);
}



.promo-scroll__arrow-scroll {
  position: absolute;
  left: 50%;
  bottom: 0;
}