.slider {
  background-image: linear-gradient($yellow, #eb8e38, $yellow);
}

.slider__pic {
  width: 100%;
  max-width: 500px;
}

.slider_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: rem(475px);
  width: rem(940px);
  width: 100%;

  @include tablets {}
}

.slider__arrow-left,
.slider__arrow-right {
  position: absolute;
  top: 50%;
}

.slider__arrow-left {
  left: rem(-30px);

  @include tablets {
    left: rem(30px);
  }

  @include phones {
    left: 3px;
  }
}

.slider__arrow-right {
  right: rem(-30px);

  @include tablets {
    right: rem(30px);
  }

  @include phones {
    right: 3px;
  }
}

.slider__svg {
  &--left {
    transform: rotate(90deg);
  }

  &--right {
    transform: rotate(-90deg);
  }
}

.slider__elems {
  position: relative;
  display: flex;
  // background: green;
  overflow: hidden;
  // padding: 5px;
}

.slider__list {
  display: flex;
  position: relative;
  // background: red;
}

.slider__elem {
  display: flex;
  position: relative;
  width: 940px;

  @include tablets {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 12%;
    text-align: center;
  }
}

.slider__col {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--margin {
    margin-top: 5%;
    margin-left: 30px;
    flex: 1;

    @include tablets {
      margin-left: 0;
    }
  }

  @include tablets {
    align-items: center;

  }
}

.slider__text {
  font-family: Ubuntu;
  color: $white;
  font-size: rem(14px);
  line-height: rem(24px);
  margin-bottom: rem(30px);
}

.slider__info {
  display: flex;
  align-items: baseline;
}

.slider__cost {
  color: $orange;
  font-family: Gagalin;
  font-size: rem(30px);
  font-weight: 400;
  margin-right: rem(29px);
}

.slider__cost-digit {
  font-size: rem(72px);
}

.slider__cal {
  font-family: Gagalin;
  color: $white;
  height: rem(80px);
  width: rem(50px);
  position: absolute;
  bottom: -11%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablets {
    top: -11%;
    left: 73%;
  }

  @include phones {
    top: -16%;
    left: 86%;
  }
}

.slider__cal-digit {
  position: absolute;
  top: 28%;
  left: 23%;
}

.lider__cal-text {
  font-size: rem(14px);
}