

.slider {
background-image: linear-gradient($yellow, #eb8e38, $yellow);
}

.title--slider {
  margin-bottom: rem(56px);
  color: $white;
}

.slider__pic {
  width: 100%;
  max-width: 500px;
}

.slider_container {
  display: flex;
  height: rem(475px);
  width: rem(940px);
  @include tablets {
    width: 40.75rem;
  }
}

.slider__arrow {
  align-self: center;
}

.slider__svg--right {
  transform: rotate(-90deg);
}

.slider__svg--left {
  transform: rotate(90deg);
}

.slider__list {
  display: flex;
}

.slider__elem {
  display: flex;
  position: relative;
  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}

.slider__col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &--margin {
    margin-right: 20px;
  }
  @include tablets {
    align-items: center;
  }
}


.slider__text {
  font-family: Ubuntu;
  color: $white;
  font-size: 14px;
  line-height: 23.97px;
  margin-bottom: 36px;
}

.slider__info {
  display: flex;
  align-items: baseline;
}

.slider__cost {
  color: $orange;
  font-family: Gagalin;
  font-size: rem(30px);
  font-weight: 400;
  margin-right: rem(29px);
}

.slider__cost-digit {
font-size: rem(72px);
}


.slider__cal {
  font-family: Gagalin;
  color: $white;
  height: 70px;
  width: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablets {
    top: -13%;
    left: 73%;
  }
}




.slider__cal-digit {
  position: absolute;
  top: 28%;
  left: 23%;
}

.lider__cal-text {
  font-size: 14px;
}


