.slider {
  position: relative;
  max-width: 80%;
  overflow: hidden;
  margin: 0 auto;
}

.slider_line{
  display: flex;
  align-items: center;
  transition: all 1s;
}

.slider_btn-prev{
  position: absolute;
  left: 1%;
  top: 50%;
  transform: translateY(-50%);
}

.slider_btn-next{
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 1200px) {
  .slider_btn-next img, .slider_btn-prev img {
      width: calc(20px + (50 - 20) * ((100vw - 320px) / (850 - 320)));
  }
}