.social__list {
  display: flex;
}

.social__elem {
  width: rem(5px);
  height: rem(5px);
}

.social__link {
  margin-right: rem(10px);
}

.social__svg {
  fill: #585858;
  &:hover {
    fill: $white;
  }
}
