.team_section {
  background-image: url(../../pic/content/bg-team.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  position: relative;
  display: block;
}

.team__content {
  background-color: rgba(47, 50, 52, 0.9);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  padding: 7%;

  @include tablets {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.team__name {
  display: flex;
  align-items: center;
  margin-bottom: rem(10px);
  font-family: Gagalin;
  font-size: rem(14px);
  font-weight: 400;
  line-height: rem(28.13px);

  @include tablets {
    justify-content: center;
  }

  &::before {
    content: '';
    display: block;
    border: rem(8px) solid transparent;
    border-top-color: $yellow;
    border-bottom-width: rem(0px);
    border-right-width: rem(7px);
    border-left-width: rem(7px);
    margin-right: rem(5px);
  }
}

.team__list {
  color: $white;
}

.team__item {
  margin-bottom: rem(10px);

  &--active .team__name .team__link{
    color: $yellow;
  }

  &--active .team__name::before {
    display: block;
    border: rem(8px) solid transparent;
    border-bottom-color: $yellow;
    border-top-width: rem(0px);
    border-right-width: rem(7px);
    border-left-width: rem(7px);
    margin-right: rem(5px);    
  } 

  &:last-child {
    margin-bottom: rem(30px);
  }
}

.team__item--active .team__hover {
  max-height: rem(200px);
}


.team__name-desc {
  margin-left: rem(10px);
  width: 56%;
}

.team__hover {
  display: flex;
  // align-items: center;
  font-family: Ubuntu;
  font-size: rem(14px);
  font-weight: 300;
  line-height: rem(24.01px);
  overflow: hidden;
  max-height: 0;

  @include tablets {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.team__position {
  font-weight: bold;
  margin-bottom: rem(13px);
}

.team__img {
  border-radius: 50%;
}

.team__link {
  color: $white;
}
